.btn {
  border: 1px solid $primary-color;
  padding: 10px 15px;
  margin: 0 7px;
  transition: all .2s;
  display: inline-block;

  &:hover {
    background: $primary-color;
    color: $white;
  }

  &.btn-wide {
    width: 150px;
  }
}
