.web-wrapper {
  padding-top: 50px;
  overflow-x: hidden;

  section {
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: relative;
    &:after {
      border-bottom: 1px dotted $black;
      content: '';
      display: block;
      height: 1px;
      width: 100vw;
      margin-left: -50vw;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
    h2 {
      margin-bottom: 20px;

      strong {
        color: $primary-color;
      }
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  .vigotech-wrapper {
    padding: 10px 0 20px 0;
    text-align: center;
  }

  .sponsor-wrapper {
    .sponsor {
      max-width: 60px;
      display: inline-block;
      vertical-align: middle;
    }

    &:after {
      background: #009bda;
    }
  }

  .sponsor-wrapper-pf {
    .sponsor {
      max-width: 120px;
      display: inline-block;
      vertical-align: middle;
    }

    &:after {
      background: #e20a17;
    }
  }

  .sponsor-wrapper-browserstack {
    .sponsor {
      max-width: 140px;
      display: inline-block;
      vertical-align: middle;
    }

    &:after {
      background: #000;
    }
  }
}


.grid-demo {
  .grid-row {
    border: 1px dashed #666;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;

    [class^="col-"], [class*=" col-"] {
      .box {
        background: $primary-color;
        text-align: center;
        color: $white;
        padding-top: 8px;
        padding-bottom: 8px;
        align-items: center;
        align-content: center;
        display: grid;
        border: 1px solid $black;
        height: 100%;
      }
    }
  }

  .grid-right-filler,
  .grid-left-filler {
    display: inline-grid;
    align-content: center;
    justify-content: center;
  }
  .grid-left-filler {
    background: #333;
    color: $white;
  }

  .grid-right-filler {
    background: #ccc;
  }
}

#demo-embed {
  .grid-demo {
    .grid-row {
      .box {
        padding: 0;
      }
    }
  }
}

#demo-fillers {
  .grid-row:last-child {
    margin-bottom: 0;
  }

  ul {
    display: inline-block;
  }
}


#footer {
  background: #333;
  padding: 15px;
  color: $white;
  p {
    text-align: center;
    margin: 10px 0;
  }
}

